version: 2.1
jobs:
  build:
    docker:
      - image: cibuilds/hugo:0.54
    steps:
      - checkout
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote
      - run:
          name: "Run Hugo"
          command: HUGO_ENV=production hugo
      - run:
          name: "Test Website"
          command: htmlproofer public --allow-hash-href --check-html --empty-alt-ignore --disable-external